@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap');

:root {
    --header-height: 50px;
    --main-bg-color: #000000;
    --main-title-color: #2A8FD5;
    --homepage-card-color: #17171C;
    --fancy-transition: all 0.5s cubic-bezier(0.17, 0.55, 0.55, 1);
}

body {
    background-color: var(--main-bg-color);
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.playwrite-dk-uloopet {
    font-family: "Playwrite DK Uloopet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#homepage-container>div {
    transition: var(--fancy-transition);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    background-color: var(--homepage-card-color);
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    padding: 15px;
    border-radius: 15px;
}

@property --angle {
    syntax: "<angle>";
    initial-value: -45deg;
    inherits: false;
}

#homepage-container>div:hover::after,
#homepage-container>div:hover::before {
    opacity: 1;
    animation: spin 5s linear infinite; 
}

#homepage-container>div::after,
#homepage-container>div::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    background-image: conic-gradient(from var(--angle), transparent 90%, #00FFFF);
    border-radius: 15px;
    pointer-events: none;
    z-index: -1;
    animation: none ;
    opacity: 0;
}

#homepage-container>div::before {
    filter: blur(10px);
}

@keyframes spin {
    from {
        --angle: -45deg
    }
    to {
        --angle: 315deg
    }
}

.skill-logo div span {
    transition: var(--fancy-transition);
}

.skill-logo div img {
    filter: brightness(75%) opacity(35%) grayscale(100%);
    transition: var(--fancy-transition);
    transition-duration: 0.5s;
}

.skill-logo div:hover img {
    filter: brightness(100%) opacity(100%) grayscale(0%);
}